<launch>
	<node type="raspicam_node" pkg="raspicam_node" name="raspicam_node" output="screen">
	    <param name="camera_frame_id" value="camera"/>
	    <param name="enable_raw" value="false"/>
	    <param name="camera_id" value="0"/>

	    <param name="camera_name" value="camera"/>
	    <param name="width" value="600"/>
	    <param name="height" value="400"/>
	    <param name="hFlip" value="1"/>
	    <param name="vFlip" value="1"/>

	    <param name="framerate" value="12"/>
	    <param name="exposure_mode" value="antishake"/>
	    <param name="shutter_speed" value="0"/>
	</node>
</launch>

